span{
	font-weight: bold;
}

body{
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.line{
	border: solid 1px;
	width: 99%;
    margin: auto;
}

#aboutMeText{
    margin-top: 55px;
	margin-bottom: 17px;
}

.movie-list{
	list-style-type: none;
}

p{
	display: inline-block;
}