body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header,#footer{
    background-color: black;
    height: 125px;
}
#content{
    height: 500px;
    background-color: #e7e8e1;
    padding: 40px 20px 0 20px;
}
.text-field{
    font-weight: 500;
    font-size: 25px;
    color: #4e4e4e;
    position: relative;
}
#t1{
    float: left;
}
#t2{
    float: right;
}
.box{
    margin-top: 40px;
}
.img-box{
    border: solid 1px;
    height: 200px;
    background-image: url("2.jpg");
}
.container {
    display: grid;
    grid-template-columns: 48% 25% 25%;
    grid-gap: 20px;
}
.item1{
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid 1px;
    background-image: url("1.jpg");
}
